body{
    background:#E7E7E7;
}

a{
    background-color:#EA5B5B;
    margin-right: 10px;
    color: white;
    font-size: 18px;
    font-style: bold;
}

select{
    width: 250px;
    margin-right: 20px;
    padding: 3px;
    border-radius: 3px;
}

input[type=text] {
    border-radius: 3px;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 10px;
}



.filter{
    float: right;
    display: block;
}

input[type="text"]:hover, input[type="password"]:hover{
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 	
 }



.createC{
    display: block;
}

label { 
    width: 200px; 
    float: left; 
    margin: 0 20px 0 0; 
}

span { 
    display: block; 
    margin: 0 0 3px; 
    font-size: 1.2em; 
    font-weight: bold; 
}
